body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdbdbd;
}
form {
    padding: 0% 27% 0%;
}
fieldset {
    background-color: #f1f1f1;
    padding: 1.5%;
}
.h1 {
    text-align: center;
    color: #000000;
}
div {
    padding-top: 1%;
}
.campo-01{
    padding-bottom: 2%;
}
#nome, #sobrenome, #data, #senha, #email{
    display: inline;
    padding-right: 2%;
}
.campo-02{
    padding-bottom: 2%;
}

.botao {
    margin-top: 2%;
    margin-left: 45%;
}

